    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Our Partner Organization: Food 4 Lives</h2>
              <br/>
                <div class="lead">
                <p><a href="https://food4lives.org/" target="_blank">Food4Lives</a> is a nonprofit organization, based in Atlanta, Georgia, that serves the homeless community by providing free access to meal services, protective shelter, and educational resources. Like most nonprofits, Food for Lives relies heavily on the generosity of donors and service volunteers. Yet as essential as charitable donations are to the normal functioning of this organization, it is imperative that Food for Lives maintains a consistent and meaningful supply of volunteers to effectively serve the needs of the homeless. In order to meet this objective, Food for Lives has stressed to our development team the importance of informing prior, current, and prospective volunteers of the dynamic needs of the homeless community in a timely and reliable manner.
                </p>
                <p>Food4Lives is a service family founded by students from Georgia Tech and Emory in 2017 to feed, educate and empower the homeless of Atlanta. Desire Tree Foundation Inc. is an official 501(c)3 non-profit registered with the IRS - Social Charity Work organization.</p>
                </div>
                <br/>
              </div>
        </div>
    </section>
