<!-- Demo Section -->
<section id="demo" class="container content-section">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<br/><br/>
			<h2>Demonstration</h2>
			<br/>
			<div class="lead">
				<p>A video demonstration of the critical functions and performance statistics of the Food4Lives app in development.</p>
				<a href="https://www.youtube.com/watch?v=1PqxDBdYSTQ">Demonstration Video </a>
				<p>https://www.youtube.com/watch?v=1PqxDBdYSTQ</p>
			</div>
			<br/>
			</div>
	</div>
</section>
