<section id="minipresentation">
	<div class="banner">
		<div class="container">

			
			<div class="row">
				<div class="col-lg-6">
					<h1>Demonstration:</h1>
					<p>A video demonstration of the critical functions and performance statistics of the Food4Lives app in development.</p>
					<a href="https://www.youtube.com/watch?v=1PqxDBdYSTQ"> Demonstration Video </a>
					<p>https://www.youtube.com/watch?v=1PqxDBdYSTQ</p>
					
				</div>
			

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
