<section id="minipresentation">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h1>Peer Reviews:</h1>
				</div>
				<iframe src="https://docs.google.com/presentation/d/1kZ88Fc94dnw7oJrjv3_1xwL8GKmq93CSlz10zjxs0z8/edit?usp=sharing//embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
