<section id="minipresentation">
	<div class="banner">
		<div class="container">

			
			<div class="row">
				<div class="col-lg-6">
					<h1>Demonstration:</h1>
					<p>A video demonstration of the critical functions and performance statistics of the Food4Lives app in development.</p>
				</div>
				<iframe src="https://www.youtube.com/watch?v=1PqxDBdYSTQ" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
